@using SPAHelper
@model Web_Site.Models.MoviesModel
<!DOCTYPE html>
@{if (HttpContext.Current.IsDebuggingEnabled)
{
    @:<html lang="en">
    }
else
{
    @:<html lang="en" manifest="app.cache">
    }
}
<head >
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <script>

        var ef = "?_escaped_fragment_=";

        if (!('querySelector' in document)
             || !('localStorage' in window)
             || !('addEventListener' in window)
            || !('matchMedia' in window)) {

            if (window.location.href.indexOf("#!") > 0) {
                window.location.href = window.location.href.replace("#!", ef);
            } else {
                if (window.location.href.indexOf(ef) < 0) {
                    window.location.href = window.location.href + ef;
                }
            }

        } else {

            if (window.location.href.indexOf(ef) >= 0) {
                window.location.href = window.location.href.replace(ef, "#!");
            }
        }

    </script>

    <meta content="on" http-equiv="cleartype">
    <meta http-equiv="content-language" content="us-en">

    <title>@Model.Title</title>

    @if (!Html.HasEscapeFragment())
    {
        if (HttpContext.Current.IsDebuggingEnabled)
        {
            <link href="css/dev/site.css" rel="stylesheet">

            <link href="css/dev/animations.css" rel="stylesheet">
            <link href="css/dev/touch.css" rel="stylesheet">
            <link href="css/dev/ui/grid.css" rel="stylesheet">
            <link href="css/dev/ui/panorama.css" rel="stylesheet">
            <link href="css/dev/ui/toolbar.css" rel="stylesheet">
            <link href="css/dev/ui/forms.css" rel="stylesheet">
            <link href="css/dev/ui/nav.css" rel="stylesheet">
            <link href="css/dev/views/home.css" rel="stylesheet">
            <link href="css/dev/views/movie.css" rel="stylesheet">
            <link href="css/dev/views/movies.css" rel="stylesheet">
            <link href="css/dev/views/search.css" rel="stylesheet">
            <link href="css/dev/views/theater.css" rel="stylesheet">
            <link href="css/dev/views/maps.css" rel="stylesheet">
            <link href="css/dev/views/social.css" rel="stylesheet">

        }
        else
        {
            <link href="css/site.min.css" rel="stylesheet">
        }

    }
    else
    {
        <link href="css/core/core.css" rel="stylesheet">

    }

    @if (Request.UserAgent.ToLower().Contains("ipad") || Request.UserAgent.ToLower().Contains("iphone"))
    {
        <link href="css/debug/add2home.css" rel="stylesheet">
    }

    <meta content="@Model.Description" name="description">
    <meta content="Chris Love" name="author">

    <link rel="dns-prefetch" href="//content1.flixster.com/">
    <link rel="dns-prefetch" href="//content2.flixster.com/">
    <link rel="dns-prefetch" href="//content3.flixster.com/">
    <link rel="dns-prefetch" href="//content4.flixster.com/">
    <link rel="dns-prefetch" href="//content5.flixster.com/">
    <link rel="dns-prefetch" href="//content6.flixster.com/">
    <link rel="dns-prefetch" href="//content7.flixster.com/">
    <link rel="dns-prefetch" href="//content8.flixster.com/">
    <link rel="dns-prefetch" href="//content9.flixster.com/">
    <link rel="dns-prefetch" href="//content10.flixster.com/">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="favicon.ico" rel="shortcut icon">

    <link rel="apple-touch-icon" href="touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="touch-icon-ipad-retina.png">

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <link rel="apple-touch-startup-image" href="startup.png">

    <meta name="application-name" content="Modern Movie Web" />
    <meta name="msapplication-config" content="IEconfig.xml" />

    <meta name="msapplication-allowDomainMetaTags" content="true">
    <meta name="msapplication-navbutton-color" content="#7b359a">
    <meta name="msapplication-badge" content="frequency=1440; polling-uri=http://love2dev.com/polling">
    <meta name="msapplication-notification" content="frequency=1440;polling-uri=http://love2dev.com/polling; cycle=1" />
    <meta name="msapplication-starturl" content="#!">
    <meta name="msapplication-tooltip" content="Modern Movies Web">

    <meta content="name=Home;action-uri=#!;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Maps;action-uri=#!maps;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Reviews;action-uri=#!reviews;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Search;action-uri=#!search;icon-uri=./favicon.ico" name="msapplication-task">

    <meta name="google-site-verification" content="[verification key goes here]" />

</head>
      <body spa-app="movie">
          <header class="site-header" role="banner">
              <span class="win-backbutton"><span class="back-btn"></span></span>
              <h1 class="view-title">@Model.Title</h1>
              <nav class="main-nav" role="navigation">
                  <a href="@Html.SPALink("")" role="menuitem" class="home-nav"><span class="nav-icon home-icon"></span><span class="nav-text">Home</span></a>
                  <a href="@Html.SPALink("maps")" role="menuitem" class="maps-nav"><span class="nav-icon maps-icon"></span><span class="nav-text">Map</span></a>
                  <a href="@Html.SPALink("search")" role="menuitem" class="search-nav"><span class="nav-icon search-icon"></span><span class="nav-text">Search</span></a>
                  <a href="@Html.SPALink("social")" role="menuitem" class="social-nav"><span class="nav-icon social-icon"></span><span class="nav-text">Social</span></a>
                  <a href="@Html.SPALink("about")" role="menuitem" class="about-nav"><span class="nav-icon about-icon"></span><span class="nav-text">About</span></a>
                  <a href="@Html.SPALink("privacy")" role="menuitem" class="privacy-nav"><span class="nav-icon privacy-icon"></span><span class="nav-text">Privacy</span></a>
              </nav>
              <span class="hamburger-nav">
                  <span class="hamburger-bar-wrapper">
                      <span class="hamburger-bar"></span><span class="hamburger-bar"></span><span class="hamburger-bar"></span>
                  </span>
                  <span class="hamburger-bar-text">menu</span>
              </span>
          </header>
          <main class="main-content" role="main">

              @if (Html.HasEscapeFragment())
              {

                  switch (Model.MainRoute.ToLower())
                  {

                      case "":
                          @RenderPage("views/home.cshtml")
                          break;

                      case "movies":
                      @RenderPage("views/movies.cshtml")
                          break;

                      case "movie":
                      @RenderPage("views/movie.cshtml")
                          break;

                      case "about":
                      @RenderPage("views/about.cshtml")
                          break;

                      case "theater":
                      @RenderPage("views/theater.cshtml")
                          break;

                      case "privacy":
                      @RenderPage("views/privacy.cshtml")
                          break;

                      case "search":
                      @RenderPage("views/search.cshtml")
                          break;

                      case "social":
                      @RenderPage("views/social.cshtml")
                          break;

                      default:
                      @RenderPage("views/notFound.cshtml")
                          break;
                  }
              }

          </main>
          <footer class="toolbar">
              <nav class="toolbar-top-menu"></nav>
              <nav class="toolbar-sub-menu"></nav>
          </footer>

          @if (!Html.HasEscapeFragment())
          {

              @SPARenderPage("views/home.cshtml")
              @SPARenderPage("views/movies.cshtml")
              @SPARenderPage("views/movie.cshtml")
              @SPARenderPage("views/maps.cshtml")
              @SPARenderPage("views/search.cshtml")
              @SPARenderPage("views/theater.cshtml")
              @SPARenderPage("views/about.cshtml")
              @SPARenderPage("views/social.cshtml")
              @SPARenderPage("views/privacy.cshtml")
              @SPARenderPage("views/notfound.cshtml")
              @SPARenderPage("templates/_templates.cshtml")

          }

          <script id="bing-map-script" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

          @if (!Html.HasEscapeFragment())
          {

              if (HttpContext.Current.IsDebuggingEnabled)
              {
                  <script src="@Href("~/js/libs/dollarbill.min.js")"></script>
                  <script src="@Href("~/js/libs/backpack.js")"></script>
                  <script src="@Href("~/js/libs/reqwest.min.js")"></script>
                  <script src="@Href("~/js/libs/rqdata.js")"></script>
                  <script src="@Href("~/js/libs/rottentomatoes.js")"></script>
                  <script src="@Href("~/js/libs/fakeTheaters.js")"></script>
                  <script src="@Href("~/js/libs/movie-data.js")"></script>
                  <script src="@Href("~/js/libs/mustache.js")"></script>
                  <script src="@Href("~/js/libs/mustacheViewEngine.js")"></script>
                  <script src="@Href("~/js/libs/spa.js")"></script>
                  <script src="@Href("~/js/libs/class.js")"></script>
                  <script src="@Href("~/js/libs/view.js")"></script>
                  <script src="@Href("~/js/libs/listView.js")"></script>
                  <script src="@Href("~/js/libs/formView.js")"></script>
    
                  <script src="@Href("~/js/libs/deeptissue.js")"></script>
                  <script src="@Href("~/js/libs/panorama.js")"></script>
                  <script src="@Href("~/js/libs/toolbar.js")"></script>

                  <script src="@Href("~/js/dev/movie.app.js")"></script>
                                           
                  <script src="@Href("~/js/dev/ui/movie.app.grid.js")"></script>
                                           
                  <script src="@Href("~/js/dev/libs/movie.app.view.js")"></script>
                  <script src="@Href("~/js/dev/libs/gridView.js")"></script>
                  <script src="@Href("~/js/dev/views/home.js")"></script>
                  <script src="@Href("~/js/dev/views/maps.js")"></script>
                  <script src="@Href("~/js/dev/views/search.js")"></script>
                  <script src="@Href("~/js/dev/views/theater.js")"></script>
                  <script src="@Href("~/js/dev/views/movie.js")"></script>
                  <script src="@Href("~/js/dev/views/movies.js")"></script>
                  <script src="@Href("~/js/dev/views/privacy.js")"></script>
                  <script src="@Href("~/js/dev/views/about.js")"></script>
                  <script src="@Href("~/js/dev/views/social.js")"></script>
                  <script src="@Href("~/js/dev/views/notfound.js")"></script>

                  <script src="@Href("~/js/dev/movie.app.bootstrap.js")"></script>

              }
              else
              {
                  <script src="@Href("~/js/applib.js")"></script>

                  if (Request.UserAgent.ToLower().Contains("ipad") || Request.UserAgent.ToLower().Contains("iphone"))
                  {
                      <script src="@Href("~/js/libs/add2home.js")" async="async"></script>
                  }
              }
          }

      </body>
</html>
