@using SPAHelper

<!DOCTYPE html>
@{if (HttpContext.Current.IsDebuggingEnabled)
    {
        @:<html lang="en">
    }else{
        @:<html lang="en" manifest="@Html.TickVersionLink("default.appcache")">
    }
}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Modern Web Movies</title>

    <meta content="This is a demonstration site for the Modern Web Movie Book. It is meant to serve as an example of how to build a modern single page web application." name="description">
    <meta content="Chris Love" name="author">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="favicon.ico" rel="shortcut icon">

    <link href="img/h/apple-touch-icon.png" rel="apple-touch-icon-precomposed" sizes="114x114">
    <link href="img/m/apple-touch-icon.png" rel="apple-touch-icon-precomposed" sizes="72x72">
    <link href="img/l/apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="img/l/apple-touch-icon.png" rel="shortcut icon">

    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

    <link href="img/l/splash.png" rel="apple-touch-startup-image">
    
    <meta name="application-name" content="Modern Movie Web" />
    <meta name="msapplication-config" content="IEconfig.xml" />

    @*<meta name="msapplication-TileColor" content="#7b359a" />
        <meta name="msapplication-TileImage" content="img/love2devlogo.png" />

        <meta name="msapplication-square70x70logo" content="img/tinylove2devlogo.png" />
        <meta name="msapplication-square150x150logo" content="img/love2devlogo.png" />
        <meta name="msapplication-wide310x150logo" content="img/310150love2devlogo.png" />
        <meta name="msapplication-square310x310logo" content="img/largelove2devlogo.png" />*@

    <meta name="msapplication-allowDomainMetaTags" content="true">
    <meta name="msapplication-navbutton-color" content="#7b359a">
    <meta name="msapplication-badge" content="frequency=1440; polling-uri=http://love2dev.com/polling">
    <meta name="msapplication-notification" content="frequency=1440;polling-uri=http://love2dev.com/polling; cycle=1" />
    <meta name="msapplication-starturl" content="#!">
    <meta name="msapplication-tooltip" content="Modern Movies Web">

    <meta content="name=Home;action-uri=#!;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Maps;action-uri=#!maps;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Reviews;action-uri=#!reviews;icon-uri=./favicon.ico" name="msapplication-task">
    <meta content="name=Search;action-uri=#!search;icon-uri=./favicon.ico" name="msapplication-task">

    <meta name="google-site-verification" content="[verification key goes here]" />

    <meta content="on" http-equiv="cleartype">


    @if (HttpContext.Current.IsDebuggingEnabled)
    {
            <link href="css/debug/site.css?v=.2" rel="stylesheet">
            <link href="css/debug/movie-grid.css?v=.2" rel="stylesheet">
            <link href="css/debug/animations.css?v=.2" rel="stylesheet">
            <link href="css/debug/touch.css?v=.2" rel="stylesheet">
            <link href="css/debug/panorama.css?v=.2" rel="stylesheet">
            <link href="css/debug/toolbar.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.forms.css?v=.2" rel="stylesheet">
            <link href="css/debug/movie.app.nav.css?v=.2" rel="stylesheet">

            <link href="css/debug/movie.app.account-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.login-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.home-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.movie-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.movies-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.reviews-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.profile-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.search-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.theater-view.css?v=.1" rel="stylesheet">
            <link href="css/debug/movie.app.maps-view.css?v=.1" rel="stylesheet">

    }
    else
    {
            <link href="css/debug/site.min.css?v=.2" rel="stylesheet">
    }

@if (Request.UserAgent.ToLower().Contains("ipad") || Request.UserAgent.ToLower().Contains("iphone"))
{
<link href="css/debug/add2home.css?v=.2" rel="stylesheet">
}

</head>
<body>
    <header class="site-header" role="banner">
        <span class="win-backbutton"></span>
        <h1 class="view-title">Modern Web Movies</h1>
        <nav class="main-nav" role="navigation">
            <a href="@Html.SPALink("")" role="menuitem" class="home-nav"><span class="nav-icon home-icon"></span><span class="nav-text">Home</span></a>
            <a href="@Html.SPALink("maps")" role="menuitem" class="maps-nav"><span class="nav-icon maps-icon"></span><span class="nav-text">Map</span></a>
            <a href="@Html.SPALink("reviews")" role="menuitem" class="reviews-nav"><span class="nav-icon reviews-icon"></span><span class="nav-text">Reviews</span></a>
            <a href="@Html.SPALink("search")" role="menuitem" class="search-nav"><span class="nav-icon search-icon"></span><span class="nav-text">Search</span></a>
            <a href="@Html.SPALink("login")" role="menuitem" class="signin-nav"><span class="nav-icon signin-icon"></span><span class="nav-text">Sign In</span></a>
            <a href="@Html.SPALink("about")" role="menuitem" class="about-nav"><span class="nav-icon about-icon"></span><span class="nav-text">About</span></a>
        </nav>
        <span class="hamburger-nav">
            <span class="hamburger-bar-wrapper">
                <span class="hamburger-bar"></span><span class="hamburger-bar"></span><span class="hamburger-bar"></span>
            </span>
            <span class="hamburger-bar-text">menu</span>
        </span>
    </header>
    <main class="main-content" role="main"></main>
    <footer class="toolbar">
        <nav class="toolbar-top-menu"></nav>
        <nav class="toolbar-sub-menu"></nav>
    </footer>

    @if (!Html.HasEscapeFragment())
    {
        long lastLoad = Html.LastUpdated();

            @RenderPage(lastLoad, "home-view.cshtml")
            @RenderPage(lastLoad, "movies-view.cshtml")
            @RenderPage(lastLoad, "movie-view.cshtml")
            @RenderPage(lastLoad, "maps-view.cshtml")
            @RenderPage(lastLoad, "reviews-view.cshtml")
            @RenderPage(lastLoad, "search-view.cshtml")
            @RenderPage(lastLoad, "theater-view.cshtml")
            @RenderPage(lastLoad, "about-view.cshtml")
            @RenderPage(lastLoad, "login-view.cshtml")
            @RenderPage(lastLoad, "privacy-view.cshtml")
            @RenderPage(lastLoad, "_templates.cshtml")

    }

    <script id="bing-map-script" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0" ></script>

    @if (HttpContext.Current.IsDebuggingEnabled)
    {
            <script src="@Href("~/js/libs/dollarbill.min.js?v=.01")"></script>
            <script src="@Href("~/js/libs/backpack.js?v=.1")"></script>
            <script src="@Href("~/js/libs/reqwest.min.js?v=.1")"></script>
            <script src="@Href("~/js/libs/rqdata.js?v=.1")"></script>
            <script src="@Href("~/js/libs/mustache.js?v=.1")"></script>
            <script src="@Href("~/js/libs/spa.js?v=.1")"></script>
            <script src="@Href("~/js/libs/deeptissue.js?v=.1")"></script>
            <script src="@Href("~/js/libs/panorama.js?v=.1")"></script>
            <script src="@Href("~/js/libs/toolbar.js?v=.1")"></script>

            <script src="@Href("~/js/debug/movie.app.js?v=.1")"></script>
        <script src="@Href("~/js/debug/movie.app.grid.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.api.js?v=.1")"></script>

            <script src="@Href("~/js/debug/movie.app.account-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.home-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.login-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.maps-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.reviews-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.profile-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.search-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.theater-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.movie-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.movies-view.js?v=.1")"></script>
            <script src="@Href("~/js/debug/movie.app.privacy-view.js?v=.1")"></script>
        
        <script src="@Href("~/js/debug/movie.app.about-view.js?v=.1")"></script>

            <script src="@Href("~/js/debug/movie.app.bootstrap.js?v=.1")"></script>
        
            

    }
    else
    {
            <script src="@Href("~/js/applib.js?v=.1")"></script>
        
            if (Request.UserAgent.ToLower().Contains("ipad") || Request.UserAgent.ToLower().Contains("iphone"))
            {
                <script src="@Href("~/js/libs/add2home.js?v=.2")" async="async"></script>
            }
    }



</body>
</html>
